{
	"printWidth": 160,
	"useTabs": true,
	"tabWidth": 2,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"quoteProps": "consistent",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all"
}